<h1><b>About Us</b></h1>
<br>
<p> ZOHO Engineering College for Women is a constituent College of ZOHO Group of Institutions( ZRGI).The Group founded in the year 2002 by Sri. Ch. Malla Reddy, an eminent educationalist, is the largest cluster of technical institutions in the state of A.P, with student strength of 50,000 
    and staff strength of 5000.</p>
<br>
<marquee><b>Discipline, Decency, and Degnity are three principles of our Students</b></marquee>
<br><br>
<p><mark style="background-color:red;">Hearty congratulations !!! Proud achievements of ZOHO</mark></p>
<br>

<img src="https://developer.fieldnation.com/img/1645683-2000px-ZOHO.png "height="500" width="500">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRc3O9x_ArcTbebSMGSGxAIWIWt4xQnUP3k_w&usqp=CAU" height="500" width="500">