<h2> Student List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Roll No</th>
            <th> Department</th>
            <th> Mobile No</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students" >
            <td> {{ student.FirstName }} </td>
            <td> {{ student.LastName }} </td>
            <td> {{ student.RollNo }} </td>
            <td> {{ student.Department }} </td>
            <td> {{ student.MobileNo }} </td>
            <td>
                <button (click) = "updateStudent(student.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteStudent(student.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "viewStudent(student.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
